body {
  margin: 0;
  background: #022835;
}

button {
  padding: 5px 10px;
  border: #457585 2px solid;
  border-radius: 10px;
  background: #26596a;
  color: #6c929f;
}

button:hover {
  background: #104050;
}

button[disabled] {
  opacity: 0.5;
}
